<div class="edit-block" 
	data-block-index="{{blockIndex}}"
	data-blok-type="text"
	data-complete="{{sectionComplete}}"
	data-field="text"
	data-section-index="{{sectionIndex}}"
	data-text="{{escape_html block.text}}">
</div>

<{{element}} class="text">
	{{unescape_html block.text}}
</{{element}}>