<div class="edit-block" 
	data-block-index={{blockIndex}}
	data-complete="{{sectionComplete}}"
	data-section-index={{sectionIndex}}>
</div>

<{{element}} class="text">
	{{unescape_html text}}
</{{element}}>