<div class="edit-block" 
	data-block-index="{{blockIndex}}"
	data-block-type="text"
	data-complete="{{sectionComplete}}"
	data-field="text"
	data-section-index="{{sectionIndex}}"
	data-text="{{text}}">
</div>

<{{element}} class="text">
	{{unescape_html text}}
</{{element}}>