<h2 class="text {{#if editMode}}editor{{/if}}"
		{{#if editMode}}
			data-operation="edit"
			data-block-id={{blockId}}
			data-block-type={{blockType}}
			data-field-id={{fieldId}}
			data-field-type={{fieldType}}
		{{/if}}>
	{{block.text}}
</h2>