{{#extend "layout"}}
  {{#content "content"}}
    <main class="page">
      <section class="container align-center">
        {{#if (has_keys pages)}}
          <div class="grid justify-start page-menu">
            {{#each pages}}
              <div class="grid-col grid-col--4">
                <a href="./blocks/{{@key}}/">
                  <img src="{{this.images.[0]}}" />
                  <h3 class="page-menu__title">{{unescape_html this.title}}</h3>
                </a>
              </div>
            {{/each}}
          </div>
        {{else}}
          <p>{{page.description}}</p>
        {{/if}}

        {{#if editMode}}
          <div id="page-add"></div>
        {{/if}}
      </section>
    </main>
  {{/content}}
{{/extend}}
