{{#extend "layout"}}
	{{#content "content"}}
		<main id="page" class="page" data-page="{{id}}" >
			{{!-- 			
			{{> (get_partial "hero") 
					title=page.title 
					headline=page.headline
					subheadline=page.subheadline
					date=page.date
					image=page.cover}}
			 --}}

			{{!-- Loop through blocks. --}}
			{{#each blocks}}
				<section class="grid block" {{#if ../../editMode}}data-index="{{@index}}"{{/if}}>
					{{!-- Loop through content items --}}
					{{#each this}}
						<div class="grid-col grid-col--{{this.cols}}" {{#if ../../editMode}}data-cols="{{this.cols}}" data-index="{{@index}}"{{/if}}>
							{{#if this.image}}<img src="{{this.image}}" />{{/if}}
							{{#if ../../editMode}}<div class="grid-resize-hook"></div>{{/if}}
						</div>
				  {{/each}}
					{{!-- Edit mode buttons --}}
					{{!-- 
					{{#if ../editMode}}
						<div class="editor" data-index="{{@key}}">
							<div class="edit-section editor__icons editor__icons--right" data-index="{{@key}}"></div>
						</div>
					{{/if}} 
					--}}
				 </section>
			{{/each}}
		</main>
		{{#if editMode}}
			<span id="edit-mode-toggle" class="editor__toggle"></span>
		{{/if}}
	{{/content}}
{{/extend}}
