{{#extend "layout"}}
	{{#content "content"}}

		<main id="page" class="page" data-page="{{id}}">			
			{{!-- Loop through blocks. --}}
			{{#each blocks}}
				<div class="auto-grid container">
					{{#each this}}
						<div class="column">
							<img class="auto-grid-image" src="{{this}}" />
						</div>
					{{/each}}
					{{#if ../../editMode}}
						<div class="block-buttons" data-index="{{@key}}" data-page="{{../../id}}"></div>
					{{/if}}
				</div>
			{{/each}}

			{{!-- Add new block. --}}
			{{#if editMode}}
				<div id="block-add" class="container" data-page="{{id}}" data-images="{{to_json page.images}}"></div>
			{{/if}}
		</main>
	{{/content}}
{{/extend}}
