{{#extend "layout"}}
	{{#content "content"}}

		<main id="page" class="page" data-page="{{id}}">			
			{{!-- Loop through blocks. --}}
			{{#each blocks}}
				{{#if (equal_values this.type 'image')}}
					<div class="auto-grid container">
						{{#each this.images}}
							<div class="column">
								<img class="auto-grid-image" src="{{this}}" />
							</div>
						{{/each}}
						{{#if ../../editMode}}
							<div class="block-buttons" data-index="{{@key}}" data-page="{{../../id}}"></div>
						{{/if}}
					</div>
				{{else}}
					<div class="grid container block-text">
						<div class="grid-col grid-col--2"></div>
						<div class="grid-col grid-col--8">
							<h2>{{this.text}}</h2>
						</div>
						<div class="grid-col grid-col--2"></div>
						{{#if ../../editMode}}
							<div class="block-buttons" data-index="{{@key}}" data-page="{{../../id}}"></div>
						{{/if}}
					</div>
				{{/if}}
			{{/each}}

			{{!-- Add new block. --}}
			{{#if editMode}}
				<div id="block-add" class="container" data-page="{{id}}" data-images="{{to_json page.images}}"></div>
			{{/if}}
		</main>
	{{/content}}
{{/extend}}
