<div class="edit-block"
		data-block-index={{blockIndex}}
		data-complete="{{sectionComplete}}"
		data-caption={{escape_html block.caption}}
		data-image-src={{block.src}}
		data-section-index={{sectionIndex}}>
</div>

<div class="image">
	<img src="{{#if block.src}}{{block.src}}{{else}}/assets/placeholder.png{{/if}}" />
	{{#if block.caption}}
		<p class="caption">{{unescape_html block.caption}}</p>
	{{/if}}
</div>