<div class="edit-block"
	data-operation="edit"
	data-block-id={{blockId}}
	data-block-type={{blockType}}
	data-caption={{escape_html caption}}
	data-field-id={{fieldId}}
	data-field-type={{fieldType}}
	data-image-src={{imageSrc}}>
</div>

<div class="image {{#unless imageSrc}}placeholder{{/unless}}">
	<img src="{{#if imageSrc}}{{imageSrc}}{{else}}/assets/placeholder.png{{/if}}" />
	{{#if caption}}
		<p class="caption">{{unescape_html caption}}</p>
	{{/if}}
</div>